@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Liter&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@theme inline{
  --font-inter: "Manrope", sans-serif;
  --font-fraunces: "Fraunces", serif;
}

@keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fadein {
	animation: fadein 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*::-webkit-scrollbar {
  scrollbar-color: #999 #333;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
*::-webkit-scrollbar-thumb { 
  background: #999;
}
*::-webkit-scrollbar-track { 
  background: #FFF5;
}
